		body {
			background-color: Black;
			font-family: 'Atomic Age';
			margin: 0px;
			height: 100%;
		}

		.glow {
			font-size: 100px;
			color: #fff;
			text-align: center;
			-webkit-animation: glow 1s ease-in-out infinite alternate;
			-moz-animation: glow 1s ease-in-out infinite alternate;
			animation: glow 1s ease-in-out infinite alternate;
		}

		@-webkit-keyframes glow {
			from {
				text-shadow: 0 0 10px #fff, 0 0 20px #7faf56, 0 0 30px #7faf56, 0 0 40px #7faf56, 0 0 50px #7faf56, 0 0 60px #7faf56, 0 0 70px #7faf56;
			}
	  
			to {
				text-shadow: 0 0 20px #fff, 0 0 30px #99bf79, 0 0 40px #99bf79, 0 0 50px #99bf79, 0 0 60px #99bf79, 0 0 70px #99bf79, 0 0 80px #99bf79;
			}
		}
		
		.bottom {
			position: absolute;
			bottom: 0;
			margin-left: -10%;
		}
		
		p {
			text-align: center;
			color: White;
			font-size: 30px;
		}
		
		a {
			text-decoration: none;
			color: White;
		}
		
		a:hover {
			text-decoration: underline;
		}