	body {
		background-color: #f5f6f3;
		margin: 0px;
		width: 100%;
	}

	
	
	/*   Mouse   */
	
	/* width */
	::-webkit-scrollbar {
		width: 30px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px #69705c; 
		border-radius: 100px;
	}
 
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #848d75; 
		border-radius: 15px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #767e67; 
	}

	
	
	/*Sections*/

	.centred_title {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.cover_page {
		width: 100%;
		height: 100.5%;
		background-color: #79bcbf;
	}

	.dark_box {
		margin: 0;
		border: 120px solid #263958;
		padding: 20px;
		position: relative;
	}
	
	.light_box {
		margin: 0;
		border: 120px solid #f5f6f3;
		padding: 20px;
		position: relative;
	}

	.thin_dark_box {
		margin: 0;
		border: 30px solid #263958;
		padding: 20px;
		position: relative;
	}

	.thin_dark_box_b {
		margin: 0;
		border-style: solid;
		border-color: #263958;
		border-width: 30px 30px 0px;
		padding: 10px 20px 20px;
		position: relative;
	}		

	

	/*   Navigation   */

	.list-title {
		position: absolute;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		list-style: none;
		float: left;
		padding: 0px;
	}

	.list-title li {
		display: inline;
		font-size: 30px;
		color: Black;
		padding: 15px 20px;
	}	
	
	
	
	/*Other*/

	footer {
		position: relative;
		bottom: 0%;
		text-align: center;
		background-color: #263958;
		border: 20px solid #263958;
	}

	footer p {
		text-align: center;
		color: white;
	}
	
	table, td, th {
		border: 1px solid black;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	th {
		height: 100px;
	}
	
	td {
		padding-left: 20px; /*Oi! Fix this!*/
		padding-right: 20px;
	}
		

	

	/* TEXT */

	.glow {
		color: #fff;
		text-align: center;
		animation: glow 1s ease-in-out infinite alternate;
	}

	@-webkit-keyframes glow {
		from {
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #af5a56, 0 0 40px #af5a56, 0 0 50px #af5a56, 0 0 60px #af5a56, 0 0 70px #af5a56;
		}
  
		to {
			text-shadow: 0 0 20px #fff, 0 0 30px #bf7c79, 0 0 40px #bf7c79, 0 0 50px #bf7c79, 0 0 60px #bf7c79, 0 0 70px #bf7c79, 0 0 80px #bf7c79;
		}	
	}

	.centred {
		text-align: center;
	}
	
	.white {
		color: #ffffff;
	}
	
	h1 {
		text-align: center;
		font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
		font-weight: normal;		 
		font-size: 60px;
		font-weight: bold;
	}

	h2 {
		text-align: center;
		font-family: "Courier New", sans-serif;
		font-size: 40px;
		font-weight: bold;
	}

	h3 {
		font-weight: bold;
		font-family: "Times New Roman", Times, serif;
		font-size: 30px;
		text-align: left;
	}
	
	.feedback { /* A question will pop up when clicked.*/
		color: blue;
		text-decoration: none;
		cursor: pointer;
	}

	.feedback:hover {
		text-decoration: underline;
	}		
	
	p {
		color: black;
		font-family: "Times New Roman", Times, serif;
		font-weight: normal;
		text-align: left;
		margin: 20;
	}

	.dark_blue {
		color: 263958;
	}

	.lighter_blue {
		color: 148a7b;
		text-align: center;
	}

	.white {
		color: #f5f6f3;
	}

	.a-black {
		color: Black;
	}

	a {
		text-decoration: none;
		color: blue;
	}

	a:hover {
		text-decoration: underline;
	}

	img {
		display: block;
		margin: auto;
	}